services:
  wuzapi-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3002:8080
    environment:
      - WUZAPI_ADMIN_TOKEN=${WUZAPI_ADMIN_TOKEN}
      - WUZAPI_GLOBAL_ENCRYPTION_KEY=${WUZAPI_GLOBAL_ENCRYPTION_KEY}
      - WUZAPI_GLOBAL_HMAC_KEY=${WUZAPI_GLOBAL_HMAC_KEY:-}
      - WUZAPI_GLOBAL_WEBHOOK=${WUZAPI_GLOBAL_WEBHOOK:-}
      # Database configuration
      - DB_USER=omniplay_dev
      - DB_PASSWORD=omniplay_dev_pass
      - DB_NAME=wuzapi_dev
      - DB_HOST=postgres-dev
      - DB_PORT=5432
      - DB_SSLMODE=false
      - TZ=America/Sao_Paulo
      - TZ=${TZ:-America/Sao_Paulo}
      - WEBHOOK_FORMAT=${WEBHOOK_FORMAT:-json}
      - SESSION_DEVICE_NAME=${SESSION_DEVICE_NAME:-WuzAPI}
      # RabbitMQ configuration Optional
      - RABBITMQ_URL=amqp://omniplay_dev:rabbitmq_dev_pass@omniplay-rabbitmq-dev:5672/
      - RABBITMQ_QUEUE=whatsapp_events
    networks:
      - omniplay-dev
    restart: on-failure

networks:
  omniplay-dev:
    external: true
